<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lounge Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">

    
        
    
</head>
<body>
    <header class="header">
        <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
        <!-- <nav class="navbar"> -->
          <ul class="main-nav">
            <li><a href="/loungeProviderLogin"><i class="ri-arrow-left-fill"></i></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
            <form action="/logout-lounge" method="POST">
                <button class="sign_out_res btn" >logout</button>
            </form>
          </ul>
    
          <ul class="burgger">
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
            <form action="/logout-lounge" method="POST">
                <button class="sign_out btn" >logout</button>
            </form>
          </ul>
          <i id="menu-toggle" class="ri-menu-fold-line"></i>
    
    </header>
    <div id="admin" >
        <h1 class="product">Lounges</h1>

        <h1>Welcome,<span class="username"><%= LoungeUser.name %></span> </h1>

        <button><a href="/loungeRegistration">Add New Lounge</a></button>

        <!-- <h2>Your Registered Lounges</h2> -->
    <div class="container " >
        <% for (var i = 0; i < his_launges.length; i++) { %>
        <div class="card .card-img-bottom  bg-gradient h-25 w-100">

            <div class="owner_name">
                <h1><%= his_launges[i].loungeName %></h1>
                <a class="check_seat" href="/laungeadminforaddingitems/<%= his_launges[i]._id %>">Check Seats ☑️</a>
            </div>

            <p>Owner: <%= LoungeUser.name %></p>
            <p>No. of Seats: <%= his_launges[i].noOfSeats %></p>
            <p>Station: <%= his_launges[i].stationLocation %></p>
            
            <form action="/edit_lounge" method="POST">

                <input type="text" name="loungeId_for_delete" value="<%= his_launges[i]._id %>"  style="visibility: hidden; display: none; ">

                <input type="text" name="loungeName" 
                placeholder="lounge name" value="<%= his_launges[i].loungeName %>" >

                <input type="text" name="loungePhoneNo" 
               placeholder="lounge phone number" value="<%= his_launges[i].loungePhoneNo%>" >

                <input type="text" name="loungeEmail" placeholder="lounge email" value="<%= his_launges[i].loungeEmail %>" >

                <input type="text" name="noOfSeats" placeholder="no of seats" value="<%= his_launges[i].noOfSeats%>" >

                <button class="small_btn" type="submit">Edit Lounge Infom</button>
            </form>

            <form action="/delete_lounge" method="POST">
                <input type="text" name="loungeId_for_delete" value="<%= his_launges[i]._id %>" style="visibility: hidden; display: none; ">
                <button class="small_btn delete" type="submit">Delete Lounge</button>
            </form>
        </div>
        <% } %>
    </div>
        
    </div>
   <%- include('footer/footer.ejs') -%>
    
    <script src="\javascripts\nav.js"></script>
</body>
</html>