
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/shetbook.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <header class="header">
    <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
    <!-- <nav class="navbar"> -->
      <ul class="main-nav">
        <li><a href="/choiceFilling"><i class="ri-arrow-left-fill"></i></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#footer-container" >Contact</a></li>
      </ul>

      <ul class="burgger">
        <li><a href="/">Home</a></li>
        <li><a href="#footer-container" >Contact</a></li>
      </ul>
      <i id="menu-toggle" class="ri-menu-fold-line"></i>

  </header>

  <div class="upperform">
    <h1>loungeName:<%= launge.loungeName %></h1>
   
    <!-- <div>
      Number of Seats : <input type="number" id="Numseats" required>
    </div> -->
  </div>


  <div class="seatStructure">
    <center>
      
    <table id="seatsBlock">
     
    <% for(var i=0;i< launge.noOfSeats; i++){%>
      <tr>
        <form action="/choosen/<%= launge._id %>" method="post">
          <% for(var i=0;i< launge.noOfSeats; i++){ %>
             <% if(i%10==0){ %>
                <br>
             <% } %>
              <img  src="/images/shofa1.png" alt="">
              <label for="myCheckbox" id="A<%= i+1 %>"> <%=i+1%></label> 

              <input type="checkbox" style="background-color: aliceblue;" class="seats" id="f<%= i+1 %>"  name="seat" value="A<%= i+1 %>">
          <% } %>
      </tr>
      <br/>
      <button class="seat-btn" type="submit">Confirm Selection</button>
      </form>
  <%  } %>
   

      
    </table>
      
    </center>
  </div>   
  
  <%- include ('footer/footer.ejs') -%>
  <script>

    var individual ="A<%= i+1 %>";
    var arrrrrr = []
    var arr =`<%= totalSeats %>`;
    arrrrrr.push(arr)
    // }
    var array = arrrrrr[0].split(',')
    
    console.log(array)
    console.log(arrrrrr.indexOf(individual))
    
      var kuch = document.querySelector('#A<%= i+1 %>')
      var luck = document.querySelector('#f<%= i+1 %>')

      console.log("lcukky"+luck)

    if (array.indexOf(individual) == -1){
    
    }else{
    kuch.style.backgroundColor = 'red';
    // var checkbox = document.getElementById("myCheckbox");


    luck.style.borderColor = "darkred";
    luck.style.backgroundColor = "red";

    luck.disabled = true;

    // kuch.style.opacity = '0';  
    }
      arr='';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/shetbook.js"></script>
</body>
</html>