
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listed Shops</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    
    
</head>
<body>
    <header class="header">
      <a href="/">
        <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
      </a> 
    <!-- <nav class="navbar"> -->
      <ul class="main-nav">
        <li><a href="/shopProviderLogin"><i class="ri-arrow-left-fill"></i></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#footer-container" >Contact</a></li>
        <form action="/logout-shop" method="POST">
          <button class="sign_out_res btn" >signout</button>
        </form>
      </ul>

      <ul class="burgger">
        <li><a href="/">Home</a></li>
        <li><a href="#footer-container" >Contact</a></li>
        <form action="/logout-shop" method="POST">
          <button class="sign_out btn" >logout</button>
        </form>
      </ul>
      <i id="menu-toggle" class="ri-menu-fold-line"></i>

    </header>

    <div id="admin">
      <h1 class="product">Shops</h1>
      <h1>Welcome <span class="username"></span> <%= shopUser.shopName %> </span> </h1>
      <button><a href="/shopRegistration">Add New Shop</a></button>

      <div class="container">
              <% for(var i=0;i< shops.length; i++){ %>
                <div class="card .card-img-bottom bg-gradient h-25 w-100">
  
                <div class="owner_name">
                  <h1><%= shops[i].shopName %></h1>
                  <a href="/shopadminforaddingitems/<%= shops[i]._id %>"> check item </a>
                </div>
                  
                <p>station location: <%= shops[i].station_Name %></p>
                  
                <p>Shop contact Number: <%= shops[i].shopPhoneNo%></p>
                <p>Shop Email Id: <%= shops[i].shopEmail%></p>
                  
                  
                  
  
                  <form action="/edit_shop"  method="post">
                    
                    <input type="text" id="name" name="shopName" value="<%= shops[i].shopName %>" required>
  
                    <input type="text" id="station" name="station" value="<%= shops[i].station_Name %>">
  
                    <input type="tel" id="phone" name="shopPhoneNo" value="<%= shops[i].shopPhoneNo %>" >
  
                    <input type="email" id="email" name="shopEmail" value="<%= shops[i].shopEmail %>" required>
  
  
                <input type="text" name="shopId_for_delete" value="<%= shops[i]._id %>" style="visibility: hidden;">
  
                  <button class="small_btn" type="submit">edit shop Infom</button>
  
                  </form>
                  <form action="/delete_shop"  method="post">
                    <input type="hidden" value="<%= shops[i]._id %>" name="shopId_for_delete">
                    <button  type="submit" class="small_btn delete">Delete Shop </button>
                  </form>
               </div>
              <% } %>
      </div>
    </div>
    <%- include('footer/footer.ejs') -%>
    <script src="\javascripts\nav.js"></script>

</body>
</html>