<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="shortcut icon" href="\images\logot.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <%- include('footer/nav.ejs') -%>
    <div class="main-container">
        <div class="image-container">
            <img src="../images/WhatsApp Image 2023-07-17 at 14.41.10.jpg" alt="Table Book Image">
        </div>
        <div class="form-container">
            <h2>Login</h2>
            <form class="login-form" action="/user_signin" method="post">

                <input type="hidden" name="originalUrl" value="<%= originalUrl %>" placeholder="<%= originalUrl %>">

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter user email" name="email" required />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter user password" name="password" required/>
                </div>
                <div id="error-message" class="error-message">
                    <h3 style="color: red;"> <%= error %> </h3> <!-- Display the error message here -->
                 </div>
                <a href="/forgot">forgot password</a>
                <button type="submit">Login</button>
                <button class="google-btn">Login with Google</button>
                <p class="toggle-form-login">If you don't have an account? Click here to <a href="/user_signup">Register</a></p>
            </form>
            
            
        </div>
    </div>
    <%- include ('footer/footer.ejs') -%>
  <script src="\javascripts\nav.js"></script>

</body>
</html>
