<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userAccountPage</title>
    <link rel="stylesheet" href="/stylesheets/userAccountPage.css">   
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

    <header class="header">
        <a href="/">
          <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
        </a>  
                  <ul class="main-nav">
                    <li><a href="/user_signin">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#footer-container" >Contact</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="/user_account" >
                        <i class="ri-account-circle-fill"></i>
                      </a></li>
                  </ul>
          
                  <ul class="burgger">
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#footer-container" >Contact</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="/user_account" >
                        <i class="ri-account-circle-fill"></i>
                      </a></li>
                  </ul>
                  <i id="menu-toggle" class="ri-menu-fold-line"></i>
          
    </header>
    <div class="myAccount">
        <div class="main-box">
           <div class="upper-box">
            <div class="imgbox">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
           </div>
           </div>
           <div class="lower-box">
            <div class="left-box">
                <h1> <span>Welcome</span>  <%=user.name%></h1>

                <!-- Email and Phone section -->
                <div class="contact-info">
                    <p>Email: <%=user.email%></p>
                    <p>Phone No. : <%=user.phoneNo%></p>
                </div>

                 <!-- Edit and Logout buttons -->
                 
                <button style="margin-top: 3vh;" class="button">Edit profile Information</button>
        
                <form action="/logout" method="POST">
                    <button style="margin-top: 3vh;" class="btn" >logout</button>
                </form>
            </div>

            <div class="right-box">
               
                <div class="details-seats">
                    <h2>Booked Seats Details</h2>
                      <%  for(var i =0;i< orders.length;i++){  %>
                        <%  for(var j = 0;j < orders[i].seats.length;j++){ %>
                            <div class="booked_seats">
                                <div class="booked_seat_img">
                                        <img src="/images/shofa1.png" alt="">
                                </div>
                                <h3><%= orders[i].seats[j] %> </h3>
                                <form action="/cancelBookedSeat/<%= orders[i]._id %>" method="post">
                                <input type="hidden" name="order_id" value="<%=orders[i]._id%>">
                                <input type="hidden" name="seat_index" value="<%= j %>"> 

                                <!-- <button type="submit" class="booked_seat_delete"><i class="ri-delete-bin-fill"></i></button> -->
                                </form>
                            </div>
                         <%  }  %>
                     <%  }   %>
                </div>

                <div class="details-foods">
                    <h2>Food Detatils</h2>
                   
                </div>
            </div>
           </div>
        </div>
    </div>

  <%- include ('footer/footer.ejs') -%>
</body>
</html>